html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.notebook-input {
  font-family: "Bradley Hand", cursive;
  font-size: 20px;
  padding: 10px 10px;
  border: 0px solid #000;
  border-radius: 5px;
  background: #ffffff76;
  color: #000000;

  box-sizing: border-box;
}

.notebook-input::placeholder {
  color: #777;
  font-style: italic;
}
